/* common css start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common css end */

/* heading point style start */


.header-about img {
    width: 100%;
    position: relative;
}

.header-info {
    position: absolute;
    top: 300px;
    right: 0px;
    left: 60%;
}
#content1::after{
    content: "\a";
    white-space: pre;
}
#content2::after{
    content: "\a";
    white-space: pre;
}

.header-info h1 {
    font-family: "Arvo", serif;
    color: #FFFFFF;
    font-size: 70px;
    font-weight: 900;
    font-style: italic;
}
.header-info p{
    color: #444343;
    color: #FFFFFF;
    letter-spacing: 1px;
    font-size: 20px;
    padding-top: 20px;
}
.buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    width: 150px;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 40px 0;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}
.btn-hover.color-7 {
    background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #000000);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}

/* heading point style end */

/* main discription style start  */

.my-failures{
   display: flex;
   align-items: center;
   gap: 15%;
   margin: 100px 300px;
}
.failures-details h1{
    font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-size: 45px;
  font-weight: 900;
  font-style: normal;
}
.failures-details p{
    color: #444343;
    letter-spacing: 1px;
    font-size: 22px;
    padding-top: 30px;
}
.failures-details h4{
    display: flex;
    color: #444343;
    gap: 20px;
    font-size: 20px;
    margin-top: 30px;

}
.failures-details h4 i{
    color: #16D887;
}

/* my plans details style start */

.my-plans h1{
    font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-size: 45px;
  margin: 100px 44%;
  font-weight: 900;
  font-style: normal;
}
.plans-image{
    display: flex;
    margin-left: 300px;
    gap: 100px;
}
.plans-image img{
    height: 90px;
    width: 90px;
    /* padding-bottom: 20px; */
}
.plans-image h2{
    font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-size: 35px;
  font-weight: 900;
  padding-bottom: 15px;
  font-style: normal;
}
.plans-image p{
    font-size: 30px;
    color: #444343;
}
.image-details{
    text-align: center;
}
/* my plans details style end */

/* positive mindset make start */

.positive-mind{
    margin: 150px 360px;
    background-image: url('../images/watch.png');
    background-repeat: no-repeat;
    position: relative;
}
.mind-details h2{
    font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-size: 35px;
  font-weight: 600;
  top: 0;
  left: 80px;
  right: 0px;
  top: 60px;
  color: #FFFFFF;
  position: absolute;
  font-style: normal;
}
.color-8{
    position: absolute;
    top: 0;
    left: 74px;
    right: 0;
    top: 150px;
}


.color-8 {
    width: 150px;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 40px 0;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 20px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.color-8:hover{
    background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
}
.btn-hover.color-8 {
    color: #005FAC;
    background-color: white;
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}

/* positive mindset make end */

/* main discription style end  */

/* future footer section start */

.future-footer{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #151414;
}

.footer-div h1{
    color: #F8F8F8;
    font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-size: 53px;
  font-weight: 700;
  padding-bottom: 15px;  
  font-style: normal;
}
.footer-div p{
    letter-spacing: 1px;
    font-size: 20px;
    padding-bottom: 15px; 
    color: #eae4e4;
}
.footer-div img{
    height: 46px;
    width: 47px;
    margin-right: 20px;
}
.subscribe h2{
    color: #F8F8F8;
    font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 15px;  
  font-style: normal;
}
.subscribe input{
    width: 325px;
    height: 64px;
    background-color: #000000;
    border: solid 1px #A2A1A1;
}
::placeholder {
  color: #F3F3F3;
  padding-left: 10px;
  opacity: 1; /* Firefox */
}


.glow-on-hover {
    width: 220px;
    height: 50px;
    margin-top: 35px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border: solid 1px #A2A1A1;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
/* future footer section end */